#welcome {
  margin: auto;
  width: 100%;
  border: 3px solid green;
  padding: 20px;
  box-sizing: border-box;

display: block;
text-align: center;
background-color: ivory;
}


#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: ivory;
    z-index:-1;
 }

label {
    display: block;
    padding-right: 10px;
    font-size: 1rem;
}

#prog{
display:none;
}

input[type=image]{
z-index:1;
position:absolute;
display:none;
width:15%;
height:15%;
box-sizing: border-box;
}

#bigBug{
z-index:2;
width:100%;
height:100%;
position:absolute;
margin-top:50%
margin-left:50%;
display:none;
}

#contain{
position:absolute;
text-align:center;

}

#divlose1{
z-index:3;
position:fixed;
margin-top:10%;
margin-left:25%;
display:none;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#divlose2{
z-index:3;
position:fixed;
display:none;
margin-top:15%;
margin-left:35%;
color:white;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}