#welcome {
margin-top: 0px;
  width: 100%;
  border: 3px solid green;
  padding: 20px;
  box-sizing: border-box;
display: block;
text-align: center;
background-color: ivory;
z-index:0
}

.inner {
text-align: center;
display: inline-block;
z-index: 1;
}

.button{
z-index: 1;
opacity: 100%;
float:center;
  background-color: rgb(0,100,0);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  display:relative;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: ivory;
    z-index:-1;
 }

label {
    display: block;
    padding-right: 10px;
    font-size: 1rem;
}

#prog{
display:none;
}

input[type=image]{
z-index:1;
position:absolute;
display:none;
width:25%;
height:25%;
box-sizing: border-box;
}

#bigBug{
z-index:2;
width:100%;
height:100%;
position:absolute;
display:none;
}

#contain{
position:absolute;
text-align:center;
}

#logo{
margin-top: 45%;
margin-left:0%;
  width: 100%;
  padding: 0px;

box-sizing: border-box;
display:none;
z-index:3;
position: fixed;

}

#info1{
bottom: 0px;
float: right;
width: 100%;
padding: 20px;
display: block;
position: fixed;
z-index:0;
font-size: 11px;
}

#divlose1{
z-index:3;
position:absolute;
display:none;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
text-align:center;
}

#divlose2{
z-index:3;
position:absolute;
display:none;
color:white;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
text-align:center;
}

#divlose3{
z-index:3;
position:absolute;
display:none;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#divlose4{
z-index:3;
position:absolute;
display:none;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

a:link, a:visited {
  background-color: none;
  color: black;
  padding: 15px 24px;
  text-decoration: underline;
  display: inline-block;
}


p{
  text-indent: 150px;
}